<h1>До свидания</h1>
<p>
  Нужно было лучше работать над собой
</p>
<p>
  сказать <%= link_to "привет", say_hello_path %> еще раз
</p>
<p>
  <% for file in @files %>
  file name is: <%= file %>
  <br>
  <% end %>
</p>
